td .hoveronly {
	display: none;
}
td:hover .hoveronly {
	display: initial;
	position: absolute;
	margin-left: 10px;
	font-family: inherit;
	font-size: inherit;
}
table.highlight-rows tr:nth-child(odd):not(.row-category2):not(.row-category-history) {
	background-color: #eee;
}

#monats-stunden tr:hover td {
	background: #d8d8d8;
}

form#bugnoteadd input[name=time_tracking_toggle] {
	margin-left: 100px;
}